<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564544574174-0n11875hc6h3v77idrsepoo76v0kj2qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564544574174-0n11875hc6h3v77idrsepoo76v0kj2qj</string>
	<key>API_KEY</key>
	<string>AIzaSyCcx8hFF_kTUCMzNTennCpoh251hRCLqrk</string>
	<key>GCM_SENDER_ID</key>
	<string>564544574174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>group6.FIt5140-Assignment2</string>
	<key>PROJECT_ID</key>
	<string>group-work-assignment2</string>
	<key>STORAGE_BUCKET</key>
	<string>group-work-assignment2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564544574174:ios:0497f0ed1399eea427a84f</string>
	<key>DATABASE_URL</key>
	<string>https://group-work-assignment2.firebaseio.com</string>
</dict>
</plist>